#script{
    background: #FDECEC;
    border: none;
    
}

#formGroupExampleInput, #row1a, #row1b1, #row1b2, #row1b3, #row2a, #row2b, #row2c, #row3, #row4{
    background: #FDECEC;
    border: none;
}
#formGroupExampleInput2{
    background: #FDECEC;
    border: none;
}
